.heading{
    font-size: 23px;
    color: white;
    box-shadow: 5px 5px 5px gray;
    width: 100%;
    margin: 0px;
}

.heading_div{
    box-shadow: 5px 5px 5px gray;
    float: none;
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
}

.heading_div2{
    font-size: 18px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px gray;
    font-size: 20;
}

.copyright_footer{
    color: red;
    background-color: yellow;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    line-height: 3;
    box-shadow: 5px 5px 5px gray;
}

canvas{
    box-shadow: 5px 5px 5px gray;
    border: white;
    border-radius: 20000px;
    background-color: violet;
}